* {
  margin: 0%;
  padding: 0%;
}
.logo {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 50px;
  border: 3px solid white;
  border-radius: 50%;
}
.navbar {
  display: flex;
}
.nav-list {
  width: 50%;
  display: flex;
  align-items: center;
}
.nav-list li {
  width: 50%;
  list-style: none;
  padding: 20px 20px;
}
.nav-list li a {
  text-decoration: none;
  color: white;
}
.nav-list li a:hover {
  text-decoration: none;
  color: rgb(114, 10, 10);
}
.background {
  background: rgb(0, 0, 0, 0.7) url("../img/bg.png");
  background-size: cover;
  background-blend-mode: darken;
}
.portfolio {
  text-align: left;
}
.cv {
  padding-left: 70px;
}
.nav-list-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-list-right img {
  width: 15%;
  border: 1px solid white;
  padding: 20px 20px;
}
.nav-list-right img:hover {
  width: 15%;
  border: 1px solid rgb(184, 28, 28);
  padding: 20px 20px;
}
